<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="port" value="55556" />
        <add key="ip" value="127.0.0.1" />
    </appSettings>
    <connectionStrings>
        <add name="identifierDB"
             providerName="System.Data.SQLite"
             connectionString="URI=file:E:/UBB/Year-2/Sem-2/MPP/Labs/CSharpApp/identifier.sqlite,Version=3" />
    </connectionStrings>
</configuration>